{% extends 'base.html' %}
{% load i18n staticfiles bootstrap %}

{% block sidebar %}{% endblock sidebar %}

{% block wrapper %}

    {% block messages %}
        {{ block.super }}
    {% endblock %}

    {% block content %}
        <h1>{% trans 'Create a Password' %}</h1>

        <form method="post" action="">{% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {{ form|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Create Password' %}" />
                </div>
            </div>
        </form>
    {% endblock content %}

{% endblock wrapper %}