include setup.py README.rst MANIFEST.in LICENSE

recursive-include fabric_bolt/accounts/templates *
recursive-include fabric_bolt/hosts/templates *
recursive-include fabric_bolt/projects/templates *
recursive-include fabric_bolt/projects/static *

recursive-include fabric_bolt/core/fixtures *
recursive-include fabric_bolt/core/static *
recursive-include fabric_bolt/core/templates *

recursive-include fabric_bolt/web_hooks/static *
recursive-include fabric_bolt/web_hooks/templates *

recursive-include fabric_bolt/task_runners/static *
recursive-include fabric_bolt/task_runners/templates *
