{% extends 'registration/login.html' %}
{% load bootstrap %}
{% load i18n %}

{% block left_content %}

    {% if validlink %}

        <form class="form-horizontal" method="post">{% csrf_token %}
            <fieldset>
                <legend>Please set your new password</legend>
                {{ form|bootstrap_horizontal:'col-md-4' }}
            </fieldset>
            <div class="form-actions">
                <input type="submit" name="login" value="Submit" class="btn btn-primary button pull-right" id="submit-id-login"> <br>
            </div>
        </form>

    {% else %}
        <h2>Error</h2>
        <p>{% trans "Password reset failed" %}</p>
    {% endif %}

{% endblock %}