{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
        <li class="active">{{ object.name }}</li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <h1 style="margin-bottom:30px;" class="col-lg-12">Project {{ object.name }}
        </h1>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="well well-sm">
                <div>
                    Description: {{ object.description }}
                </div>
                <div>Deployments: {{ object.get_deployment_count }}</div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        Recent Deployments
                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-delay="{ 'show': 300, 'hide': 0 }"
                           data-original-title="See what was shipped out when, and the status of each attempt."></i>
                    </h4>
                </div>

                <div class="panel-body">
                    {% render_table deployment_table %}
                </div>

            </div>
        </div>
    </div>

{% endblock content %}