{% extends 'projects/project_base.html' %}
{% load render_table from django_tables2 %}


{% block content %}
    <div class="row">
        <h1 style="margin-bottom:30px;" class="col-lg-12">Project {{ object.name }}
            <span class="pull-right">
                <a class="btn btn-primary" href="{% url 'projects_project_update' object.pk %}">Edit Project</a>
                <a class="btn btn-danger" href="{% url 'projects_project_delete' object.pk %}">Delete Project</a>
            </span>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="well well-sm">
                <div>
                    Description: {{ object.description }}
                </div>
                <div>Deployments: {{ object.get_deployment_count }}</div>
                <div><a href="{% url 'projects_project_invalidate_cache' object.pk %}">Invalidate tasks cache</a></div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well well-sm">
                <div class="list-group">
                    {% for stage in stages %}
                        <a href="{% url 'projects_stage_view' object.pk stage.pk %}" class="list-group-item">
                            <span class="badge" data-toggle="tooltip" data-delay="{ 'show': 300, 'hide': 0 }" data-original-title="Number of configurations">{{ stage.stage_configurations.count }}</span>
                            {{ stage.name }}
                        </a>
                    {% empty %}
                        <div class="list-group-item">No stage configured yet</div>
                    {% endfor %}
                </div>

                <div>
                    <a class="btn btn-default btn-sm" href="{% url 'projects_stage_create' object.pk %}">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Add Stage
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}