{% extends 'base.html' %}
{% load activeurl %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
        {% block project_breadcrumb_links %}
            <li class="active">{{ project.name }}</li>
        {% endblock project_breadcrumb_links %}
    </ol>
{% endblock breadcrumb %}

{% block wrapper-class %}col-md-9{% endblock wrapper-class %}

{% block sidebar %}
    <div class="col-md-3" style="margin-top: 25px;">
        {% activeurl menu="no" %}
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'projects_project_view' project.pk %}">
                        <i class="glyphicon glyphicon-dashboard"></i> &#160;&#160;&#160;Project
                    </a>
                </li>
                <li>
                    <a href="{% url 'projects_configuration_list' project.pk %}">
                        <i class="glyphicon glyphicon-cog"></i> &#160;&#160;&#160;Configuration
                    </a>
                </li>
                <li>
                    <a href="{% url 'projects_stage_list' project.pk %}">
                        <i class="glyphicon glyphicon-menu-hamburger"></i> &#160;&#160;&#160;Stages
                    </a>
                </li>
                <li>
                    <a href="{% url 'projects_deployment_list' project.pk %}">
                        <i class="glyphicon glyphicon-play"></i> &#160;&#160;&#160;Deployments
                    </a>
                </li>
            </ul>
        {% endactiveurl %}
    </div>
{% endblock %}
