{% extends 'projects/stage_base.html' %}

{% block stage_breadcrumb_links %}
    <li><a href="{% url 'projects_stage_view' project.pk object.pk %}">{{ object.name }}</a></li>
    <li class="active">Delete</li>
{% endblock stage_breadcrumb_links %}

{% block content %}
    <h1>Delete Stage?</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the stage {{ object }}?</p>
        <input type="submit" value="Yes, I'm Sure." class="btn btn-danger"/>
    </form>
{% endblock content %}
