<div class="list-group">
    {% for task in frequent_tasks_run %}
        <a href="{% url 'projects_deployment_create' project.pk object.pk %}?task={{ task.name }}" class="list-group-item">
            <span class="badge">{{ task.times_used }}</span>
            {{ task.name }}
            {% if task.description %}
                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-delay="{'show': 300, 'hide': 0 }"
                data-original-title="{{ task.description }}"></i>
            {% endif %}
        </a>
    {% empty %}
        <div class="list-group-item">
            <span class="badge">0</span>
            No frequent tasks yet
        </div>
    {% endfor %}
</div>

<div>
    <select class="form-control" id="all_tasks_dropdown">
        <option value="">All Tasks</option>
        {% for task_name in all_tasks %}
            <option value="{% url 'projects_deployment_create' project.pk object.pk %}?task={{ task_name }}">{{ task_name }}</option>
        {% endfor %}
    </select>
</div>