body {
  padding-top: 70px;
}
#deployment_output {
  width: 100%;
  background: black;
  border: none;
  height: 600px;
  outline: none;
  color: #c8c8c8;
  padding: 20px;
  cursor: text;
}
#deployment_output .output {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  overflow-y: scroll;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  line-height: 16px;
}
