{% extends 'base.html' %}
{% load humanize %}
{% load sekizai_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
        <li><a href="{% url 'projects_project_view' object.stage.project.pk %}">{{ object.stage.project.name }}</a></li>
        <li><a href="{% url 'projects_stage_view' object.stage.project.pk object.stage.pk %}">{{ object.stage.name }}</a></li>
        <li class="active">Deployment started {{ object.date_created|naturaltime }}</li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
    <h1>Deployment started {{ object.date_created|naturaltime }}</h1><br/>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <dl class="dl-horizontal">
                    <dt>Comments</dt>
                    <dd>{{ object.comments }}</dd>
                    <dt>Date Started</dt>
                    <dd>{{ object.date_created }}</dd>
                    <dt>Project</dt>
                    <dd>{{ object.stage.project.name }}</dd>
                    <dt>Stage</dt>
                    <dd>{{ object.stage.name }}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <fieldset>
                    <legend>Status</legend>
                    {% if object.status == object.PENDING %}
                        <i class="glyphicon glyphicon-time"></i> Working
                    {% elif object.status == object.SUCCESS %}
                        <i class="glyphicon glyphicon-ok"></i> Success!
                    {% else %}
                        <i class="glyphicon glyphicon-warning-sign"></i> Failed!
                    {% endif %}
                </fieldset>
            </div>
        </div>
    </div>
    <div class="well">
        {% if object.status == object.PENDING %}
            <iframe src="{% url 'projects_deployment_output' object.pk %}" id="deployment_output"></iframe>
        {% else %}
            <div id="deployment_output"><pre>{{ object.output }}</pre></div>
        {% endif %}
    </div>

    {% if object.status == object.PENDING %}
        {% addtoblock "js" %}
            <script>
                $(function(){
                    var scroll_iframe_ticker = setInterval(function(){
                        var $contents = $('#deployment_output').contents();
                        $contents.scrollTop($contents.height());
                        if($contents.find('#finished').length > 0){
                            clearInterval(scroll_iframe_ticker);
                        }
                    }, 100);

                });
            </script>
        {% endaddtoblock %}
    {% endif %}
{% endblock content %}