{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <h1 class="col-lg-12">Project - {{ object.name }} </h1>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="well well-sm">
                <div>
                    Description: {{ object.description }}
                </div>
                <div>Project Type: {{ object.type }}</div>
                <div>Deployments: {{ object.number_of_deployments }}</div>
                <div></div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well well-sm">
                {% for stage in stages %}

                {% empty %}
                    <div>No stage configured yet</div>
                {% endfor %}

                <div>
                    <a class="btn btn-default btn-sm" href="#">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Add Stage
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <fieldset>
                    <legend>
                        Project Configuration

                        <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-delay="{ "show": 300, "hide": 0 }" data-original-title="Configurations added here will be added to env.custom_configuration"></i>
                    </legend>
                </fieldset>

                <a class="btn btn-default btn-sm" href="#">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    Add Configuration
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <fieldset>
                    <legend>Stages</legend>
                </fieldset>

                <a class="btn btn-default btn-sm" href="#">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    Add Stage
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <fieldset>
                    <legend>Recent Deployments</legend>
                </fieldset>
            </div>
        </div>
    </div>


{% endblock content %}