{% load staticfiles %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FabricBolt{% endblock title %}</title>
        {% if user.is_authenticated and user.template %}
            {% addtoblock 'css' %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:user.template %}"/>
            {% endaddtoblock 'css' %}
        {% else %}
            {% addtoblock 'css' %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/flatly.min.css' %}"/>
            {% endaddtoblock 'css' %}
        {% endif %}
        {% addtoblock 'css' %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        {% endaddtoblock 'css' %}
        {% render_block "css" %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            $(function(){
               $('[data-toggle=tooltip]').tooltip();
            });
        </script>
        {% render_block "js" %}

    </body>
</html>
