{% extends 'base.html' %}
{% load sekizai_tags %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Fabric Bolt</h1>
        <p>Web based fabric deployments</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'projects_project_list' %}">View Projects</a></p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Deployment History</h3>
            {{ line_chart.as_html }}
        </div>
        <div class="col-md-5">
            <h3>Deployment Status</h3>
            {{ pie_chart.as_html }}
        </div>
    </div>
{% endblock %}